In [15]:
import pandas as pd

from mlxtend.frequent_patterns import apriori

from mlxtend.frequent_patterns import association_rules

In [16]:
df= pd.read_excel("./CatalogCrossSell.xlsx", sheet_name="Data")

In [17]:
df.head(5)

,Customer Number,Unnamed: 1,Clothing Division,Housewares Division,Health Products Division,Automotive Division,Personal Electronics Division,Computers Division,Garden Division,Novelty Gift Division,Jewelry Division
0,11569,NaN,0,1,1,1,1,0,0,1,0
1,13714,NaN,0,1,1,1,1,0,1,1,1
2,46391,NaN,0,1,1,1,1,0,1,1,1
3,67264,NaN,0,0,1,1,1,0,1,1,0
4,67363,NaN,0,0,1,0,1,0,1,1,0

In [18]:
#dropping the empty column
df.drop(df.columns[[1]], axis = 1, inplace = True) 
df.head(5)

,Customer Number,Clothing Division,Housewares Division,Health Products Division,Automotive Division,Personal Electronics Division,Computers Division,Garden Division,Novelty Gift Division,Jewelry Division
0,11569,0,1,1,1,1,0,0,1,0
1,13714,0,1,1,1,1,0,1,1,1
2,46391,0,1,1,1,1,0,1,1,1
3,67264,0,0,1,1,1,0,1,1,0
4,67363,0,0,1,0,1,0,1,1,0

In [19]:
#checking for null values
df.isna().sum()

Customer Number                  0
Clothing Division                0
Housewares Division              0
Health Products Division         0
Automotive Division              0
Personal Electronics Division    0
Computers Division               0
Garden Division                  0
Novelty Gift Division            0
Jewelry Division                 0
dtype: int64

In [25]:
df.drop("Customer Number", axis=1, inplace=True)

In [26]:
#generating frequent items
frequent_itemsets = apriori(df, min_support=0.07, use_colnames=True)
frequent_itemsets

     support                                           itemsets
0   0.393557                              (Housewares Division)
1   1.000000                         (Health Products Division)
2   0.134854                              (Automotive Division)
3   0.467387                    (Personal Electronics Division)
4   0.272109                                  (Garden Division)
5   0.227491                            (Novelty Gift Division)
6   0.356943                                 (Jewelry Division)
7   0.393557    (Health Products Division, Housewares Division)
8   0.235494  (Personal Electronics Division, Housewares Div...
9   0.132853             (Garden Division, Housewares Division)
10  0.134854       (Novelty Gift Division, Housewares Division)
11  0.194878            (Jewelry Division, Housewares Division)
12  0.134854    (Health Products Division, Automotive Division)
13  0.467387  (Personal Electronics Division, Health Product...
14  0.272109        (Health Products Division, Garden Division)
15  0.227491  (Novelty Gift Division, Health Products Division)
16  0.356943       (Jewelry Division, Health Products Division)
17  0.083033  (Personal Electronics Division, Automotive Div...
18  0.085434             (Garden Division, Automotive Division)
19  0.075230            (Jewelry Division, Automotive Division)
20  0.163265   (Personal Electronics Division, Garden Division)
21  0.169068  (Personal Electronics Division, Novelty Gift D...
22  0.197479  (Jewelry Division, Personal Electronics Division)
23  0.112245           (Novelty Gift Division, Garden Division)
24  0.127251                (Jewelry Division, Garden Division)
25  0.107243          (Jewelry Division, Novelty Gift Division)
26  0.235494  (Personal Electronics Division, Health Product...
27  0.132853  (Health Products Division, Garden Division, Ho...
28  0.134854  (Novelty Gift Division, Health Products Divisi...
29  0.194878  (Jewelry Division, Health Products Division, H...
30  0.098439  (Personal Electronics Division, Garden Divisio...
31  0.107843  (Personal Electronics Division, Novelty Gift D...
32  0.132053  (Jewelry Division, Personal Electronics Divisi...
33  0.080232  (Jewelry Division, Garden Division, Housewares...
34  0.075430  (Jewelry Division, Novelty Gift Division, Hous...
35  0.083033  (Personal Electronics Division, Health Product...
36  0.085434  (Health Products Division, Garden Division, Au...
37  0.075230  (Jewelry Division, Health Products Division, A...
38  0.163265  (Personal Electronics Division, Health Product...
39  0.169068  (Personal Electronics Division, Novelty Gift D...
40  0.197479  (Jewelry Division, Personal Electronics Divisi...
41  0.112245  (Novelty Gift Division, Health Products Divisi...
42  0.127251  (Jewelry Division, Health Products Division, G...
43  0.107243  (Jewelry Division, Novelty Gift Division, Heal...
44  0.087235  (Personal Electronics Division, Novelty Gift D...
45  0.087835  (Jewelry Division, Personal Electronics Divisi...
46  0.085834  (Jewelry Division, Personal Electronics Divisi...
47  0.098439  (Personal Electronics Division, Health Product...
48  0.107843  (Personal Electronics Division, Novelty Gift D...
49  0.132053  (Jewelry Division, Personal Electronics Divisi...
50  0.080232  (Jewelry Division, Health Products Division, G...
51  0.075430  (Jewelry Division, Novelty Gift Division, Heal...
52  0.087235  (Personal Electronics Division, Novelty Gift D...
53  0.087835  (Jewelry Division, Personal Electronics Divisi...
54  0.085834  (Jewelry Division, Personal Electronics Divisi...

In [27]:
#generating rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Health Products Division),(Housewares Division),1.000000,0.393557,0.393557,0.393557,1.000000,0.000000,1.000000
1,(Housewares Division),(Health Products Division),0.393557,1.000000,0.393557,1.000000,1.000000,0.000000,inf
2,(Personal Electronics Division),(Housewares Division),0.467387,0.393557,0.235494,0.503853,1.280252,0.051551,1.222304
3,(Housewares Division),(Personal Electronics Division),0.393557,0.467387,0.235494,0.598373,1.280252,0.051551,1.326139
4,(Garden Division),(Housewares Division),0.272109,0.393557,0.132853,0.488235,1.240569,0.025763,1.185003

In [31]:
#sorting the rules in descending order to show the rules that has higher lift value
rules.sort_values(by="lift", ascending=False, inplace=True)

In [32]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
236,"(Personal Electronics Division, Health Product...",(Novelty Gift Division),0.163265,0.227491,0.087235,0.534314,2.348725,0.050094,1.658861
147,"(Personal Electronics Division, Garden Division)",(Novelty Gift Division),0.163265,0.227491,0.087235,0.534314,2.348725,0.050094,1.658861
240,"(Personal Electronics Division, Garden Division)","(Novelty Gift Division, Health Products Division)",0.163265,0.227491,0.087235,0.534314,2.348725,0.050094,1.658861
150,(Novelty Gift Division),"(Personal Electronics Division, Garden Division)",0.227491,0.163265,0.087235,0.383465,2.348725,0.050094,1.357157
241,"(Novelty Gift Division, Health Products Division)","(Personal Electronics Division, Garden Division)",0.227491,0.163265,0.087235,0.383465,2.348725,0.050094,1.357157
...,...,...,...,...,...,...,...,...,...
16,(Novelty Gift Division),(Health Products Division),0.227491,1.000000,0.227491,1.000000,1.000000,0.000000,inf
12,(Personal Electronics Division),(Health Products Division),0.467387,1.000000,0.467387,1.000000,1.000000,0.000000,inf
15,(Garden Division),(Health Products Division),0.272109,1.000000,0.272109,1.000000,1.000000,0.000000,inf
93,"(Personal Electronics Division, Automotive Div...",(Health Products Division),0.083033,1.000000,0.083033,1.000000,1.000000,0.000000,inf
0,(Health Products Division),(Housewares Division),1.000000,0.393557,0.393557,0.393557,1.000000,0.000000,1.000000